[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Icon=/home/hans/.local/share/JetBrains/Toolbox/apps/PyCharm-P/ch-0/172.3968.37/bin/pycharm.png
Exec="/home/hans/.local/share/JetBrains/Toolbox/apps/PyCharm-P/ch-0/172.3968.37/bin/pycharm.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm
