[Desktop Entry]
Version=1.0
Type=Application
Name=WebStorm
Icon=/home/hans/.local/share/JetBrains/Toolbox/apps/WebStorm/ch-0/172.4155.35/.icon.svg
Exec="/home/hans/.local/share/JetBrains/Toolbox/apps/WebStorm/ch-0/172.4155.35/bin/webstorm.sh" %f
Comment=The smartest JavaScript IDE
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-webstorm